.svn
*.class
*.log
.settings
*.bak
*bak
db
*.txt
pro\WEB-INF\work
pro\WEB-INF\update
pro\WEB-INF\tmp
pro\WEB-INF\doc\SY_COMM_MENU
pro/WEB-INF/doc/SY_COMM_MENU
pro/WEB-INF/work
pro/WEB-INF/work/*
*.java.20*
*.java20*
*.js.20*
*.js20*
*.jsp.20*
*.jsp20*
*.css.20*
*.css20*
*.log.20*


.classpath
CCPrintTemp.html
gsfw.html
gsfwPrintTemp.html
doc/需完善功能.docx
printTemplate/cc.html
.classpath