/* CSS Document */
.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 330px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
  *zoom: 1;
  font-size: 14px;
}
.form-horizontal .control-group.error input {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-horizontal .control-group.error input,{
	color: #b94a48;
}
.form-horizontal .control-group.error input:focus{
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  color:#777;
  float: left;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 40px;
  *margin-left: 0;
}
.form-horizontal .controls span{
  *padding-left: 20px;
  margin-left:10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  
}
.form-horizontal .controls span.notnull{
  color:#F80000; 
  font-size:18px;
  font-weight:bold;	
}
.form-horizontal .controls:first-child {
  *padding-left: 40px;
}
.form-horizontal .tag-group {
  margin-top:-15px;
  margin-left:40px;
  margin-bottom: 10px;
  *zoom: 1;
}
a.item{
	color: #08C;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}
a.item:hover,
a.item:focus {
	color: #005580;
	text-decoration: none;
	border-color: #08C;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	   -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
	        box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
a.item{
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 2px;
	margin: 2px;
	display: block;
	float: left;
	text-align: center;
}
.clearfix {
	float: none;
	clear: both;
}

/*******dialog**********/
.favorite-dialog {
 	width:500px;
	min-width:300px;
	color:#999;
	top:20px;
	left:320px;
	border: 1px solid #ccc;
	background-color: white;
	margin: 7px;
 	position:absolute;
	z-index:2000;
	display:none; 
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
    outline: 0;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.favorite-dialog .dialog-header{
	padding: 2px 15px;
	border-bottom: 1px solid #EEE;
}
.favorite-dialog .dialog-title{
	diaplay:block;
	padding: 9px 15px;
	line-height:50px;
	font-weight:bold;
	font-size: 24px;
}
.favorite-dialog .dialog-close{
	position:absolute;
	top:20px;
	right:20px;
	width: 16px;
	height: 16px;
	background: url('/sy/plug/search/img/nav.png') no-repeat 0px 0px;
}
.favorite-dialog .dialog-close:hover{
	background-position: -19px 0px;
}
.favorite-dialog .dialog-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
.favorite-dialog input[type="text"]{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.favorite-dialog input[type="text"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.favorite-dialog .dialog-info span{
	display:block;
	text-align:center;
	font-size: 38px;
	line-height: 40px;
}
.favorite-dialog .dialog-info a{
	display:block;
	text-align:center;
	margin-top:10px;
	color: #08C;
	text-decoration: none;
}

a.item{
	color: #08C;
	text-decoration: none;
}
.favorite-dialog .dialog-info a:hover,
.favorite-dialog .dialog-info a:focus {
	color: #005580;
	text-decoration: underline;
}
.favorite-dialog .dialog-footer {
	position:relative;
 	margin-top:10px;
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #F5F5F5;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	   -moz-box-shadow: inset 0 1px 0 #fff;
	        box-shadow: inset 0 1px 0 #FFF;
}
.favorite-dialog .dialog-footer:before, 
.favorite-dialog .dialog-footer:after {
	display: table;
	line-height: 0;
	content: "";
}
.favorite-dialog .dialog-footer .btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(top,#FFF,#E6E6E6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
	background-image: -o-linear-gradient(top,#FFF,#E6E6E6);
	background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
.favorite-dialog .dialog-footer .btn:hover, 
.favorite-dialog .dialog-footer .btn:focus {
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	   -moz-transition: background-position .1s linear;
	     -o-transition: background-position .1s linear;
	        transition: background-position .1s linear;
}
.favorite-dialog .dialog-footer .btn:hover, 
.favorite-dialog .dialog-footer .btn:focus{
	color: #333;
	background-color: #E6E6E6;
}
.favorite-dialog.success .form-horizontal{
	display:none;
}
.favorite-dialog .dialog-info{
	display:none;
}
.favorite-dialog.success .dialog-info{
	display:block;
}
.favorite-dialog.success .savebtn{
	display:none;
}
.favorite-dialog .dialog-footer .closebtn{
	display: none;
}
.favorite-dialog.success .closebtn{
	display: inline-block;
}
