.spec-img{
	border: 1px solid #D1D1D1;
    box-shadow: 0 2px 3px #D5D5D5;
    height: 80px;
    padding: 2px;
    width: 80px;
}
.right-title-h2-css{
	width:100%;
	height:38px;
	background-color:rgb(245,245,245);
	border-bottom:1px solid rgb(214,214,214);
}
.red-more-css{
	background:url("/sy/comm/zhidao/baidu_style_files/ico_app_01.png") no-repeat scroll right -213px transparent;
	width:20px;
	height:39px;
	line-height:39px;
	display:inline-block;
	float:right;
}

.li-span{
	font-size:14px;
	font-family:'Microsoft YaHei';
	font-weight:700;
	height:33px;
	line-height:33px;
	color:#676767;
	text-align: center;
	cursor:pointer;
}
.out-ul{
	margin:0px;
	padding:0px;
	width:247px;
	height:33px;
	border-top:1px solid rgb(237,237,237);
	border-left:1px solid rgb(237,237,237);
	border-right:1px solid rgb(237,237,237);
}
.li-div{
	float:left;height:32px;border-bottom:1px solid rgb(237,237,237);
	text-align:center;
}
.li-gap{
	float:left;width:1px;height:33px;border:0px;background-color:rgb(237,237,237);
}
.out-ul a{
	text-decoration: none;
}
.out-ul a:hover{
	text-decoration: none;
}
.li-selected{
	background-color:white;
	height:33px;
	border-bottom:0px;
}