/* CSS Document */
a, b, body, dd, div, dl, dt, em, font, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, img, label, ol, p, span, strongtable, tbody, td, tfoot, th, thead, tr, ul {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
html, body {
	height: 100%;
	color: #333;
	height: 100%;
	font: 12px/1.333 arial, helvetica, clean;
}
body {
	background-color: #F1F1EC !important;
}
ul, ol, li {
	list-style: none;
}
a {
	color: #2D64B3;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #09498B;
}
a:hover, a:active {
	outline: 0;
}
.tc{
	text-align: center;
}
.zd-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.zd-container {
	float: left;
	width: 735px;
	position: relative;
	min-height: 500px;
}
.zd-container:before, .zd-container:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;

}
.zd-container:after {
	clear: both;
}
.zd-container {
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.zd-header {
	background-color: #FFF ;
	border-left: 1px solid #C7D8EE;
	border-right: 1px solid #C7D8EE;
	border-bottom: 1px solid #CCC;
	/* box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2); */
}
span.act {
	float: right;
}
.zd-user-info {
	padding: 10px;
	color: #777;
}
.zd-user-info .block-title {
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	color: #666;
	font-family: "微软雅黑";
	_font-family: "微软雅黑";
	font-weight: bold;
}
.zd-tab{
	padding: 10px 0 0 20px;
	position: relative;
}
.zd-tab .tabControl {
	display: block;
	height: 32px;
	line-height: 25px;
	border-bottom: 1px solid #EEE;
	position: relative;
	font-size: 14px;
	margin-top:3px;
} 
.zd-tab .tabControl .tab-item {
	display: block;
	float: left;
	height: 32px;
}
.zd-tab .tabControl .tab-item a {
	color: #666;
	display: block;
	cursor: pointer;
	height: 32px;
	text-decoration: none;
}
.zd-tab .line {
	float: left;
	display: inline;
	height: 13px;
	color: #EEE;
	padding: 0 19px 0 20px;
}
.zd-tab .slide {
	position: absolute;
	width: 55px;
	height: 4px;
	overflow: hidden;
	border-bottom: 2px solid #699CCC;
	box-shadow: 0 2px 2px -1px #D9D9D9;
	-moz-box-shadow: 0 2px 2px -1px #d9d9d9;
	-webkit-box-shadow: 0 2px 2px -1px #D9D9D9;
	bottom: -1px;
	transition: left .5s, width .5s;
	-moz-transition: left .5s, width .5s;
	-o-transition: left .5s, width .5s;
	-webkit-transition: left .5s, width .5s;
}
.zd-tab .slide .icon {
	width: 0;
	height: 0;
	overflow: hidden;
	border-style: solid;
	border-color: #FFF #FFF #699CCC;
	border-width: 0 4px 4px;
	margin: 0 auto;
	display:block;
}
.zd-tab .hover {
	position: absolute;
	border-bottom: 2px solid #699CCC;
	bottom: -1px;
	transition: left .5s, width .5s;
	-moz-transition: left .5s, width .5s;
	-o-transition: left .5s, width .5s;
	-webkit-transition: left .5s, width .5s;
	overflow: hidden;
	height: 0;
	width: 55px;
}      
.zd-grid {
	/* margin-top:15px; */
	padding: 30px 10px 10px 10px;
	position:relative;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC; 
	border-bottom: 1px solid #CCC; 
	/* 
	  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);*/
	background-color: #fff;
	/* border-radius:5px; */
	min-height:100px;
}
.zd-grid:hover{
	background-color:#f3f8f9;
}
.zd-grid a:hover {
	color: #0196E3;
	text-decoration: underline;
}
.zd-gray {
	color: #999;
	font-size: 12px;
	font-weight: 400;
}  
.zd-grid .hover {
	position: absolute;
	border-bottom: 2px solid #699CCC;
	bottom: -1px;
	transition: left .5s, width .5s;
	-moz-transition: left .5s, width .5s;
	-o-transition: left .5s, width .5s;
	-webkit-transition: left .5s, width .5s;
	overflow: hidden;
	height: 0;
	width: 55px;
}
.zd-grid-header {
	height: 40px;
	line-height: 40px;
	color: #666;
	border-bottom: 1px solid #F2F2F2;
}
.zd-grid .nomal {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	padding: 0 10px 5px 10px;
}
.zd-grid-list {
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #F2F2F2;
	color: #999;
}
.zd-grid-list:hover{
	background: #FBFBFB;
}
.zd-grid-list a{
	font-size: 12px;
}
.zd-answer-read-more{
	float:right;
	font-size:12px;
}
 
/************pager*****************/
/*
.ui-pager {
	clear: both;
	line-height: 22px;
	overflow: hidden;
	zoom: 1;
	white-space: nowrap;
	text-align: center;
	margin-top:15px;
	margin-bottom:15px;
	padding-top: 15px!important;
	padding-bottom: 15px!important;
	border: 1px solid #C7D8EE;
	background-color: #FFF;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	border-radius: 5px;
}
.pager-center .pager {
	float: right;
	position: relative;
	 
}
.pager-center .pager-inner {
	position: relative;
}
.ui-pager a:hover {
	background: #E9F1F7;
	text-decoration: none;
	color: #0000CD;
}
.ui-pager a, .ui-pager span {
	float: left;
	width: 23px;
	height: 22px;
	margin-right: 5px;
	line-height: 22px;
	overflow: hidden;
	border: 1px solid #E7ECF0;
	background: #FFF;
	text-decoration: none;
	text-align: center;
}
.ui-pager .pre, .ui-pager .next {
	width: 60px;
	line-height: 24px;
}
.ui-pager .first, .ui-pager .last {
	width: 41px;
}
*/
.ui-pager {
	clear: both;
	line-height: 22px;
	overflow: hidden;
	zoom: 1;
	white-space: nowrap;
	text-align: center;
	zoom: 1;
	/* padding-top: 20px!important; */
	padding-bottom: 20px!important;
	line-height: 47px;
	color: #999;
}
.ui-pager a:hover {
	background-color: #E9F1F7;
	text-decoration: none;
	color: #0000CD;
}
.ui-pager a{
	height: 22px;
	margin-right: 5px;
	line-height: 22px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
}
/*************right-side********************/
.zd-right-side {
	float: right;
	width: 236px;
	margin-left: 0;
	position:relative;
	top:1px;
}

.zd-rs-content {
	 
}
.zd-rs-title {
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	color: #666;
	font-family: "微软雅黑";
}
.zd-profile {
	padding: 20px 22px 20px 18px;
	 
}
.zd-profile-name {
	padding-bottom: 5px;
	border-bottom: solid 1px #F2F2F2;
}
.zd-profile-photo {
	display: block;
	height: 130px;
	margin: 15px auto;
	width: 110px;
	position: relative;
	background: transparent url(http://img.baidu.com/img/iknow/docshare/uc/avatar/level10.jpg) no-repeat;
}
.btn-white{
	font-size: 14px;
	line-height: 1.7;
	text-decoration: none!important;
	vertical-align: middle;
	display: inline-block;
	_display: inline!important;
	text-align: center;
	padding: 4px 10px;
	cursor: pointer;
	border-radius: 3px;
	
	background: #F8F8F9;
	background-color: #F1F1F2;
	background-image: -moz-linear-gradient(top,#F8F8F9,#E6E6E8);
	background-image: -ms-linear-gradient(top,#F8F8F9,#E6E6E8);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#F8F8F9),to(#E6E6E8));
	background-image: -webkit-linear-gradient(top,#F8F8F9,#E6E6E8);
	background-image: -o-linear-gradient(top,#F8F8F9,#E6E6E8);
	background-image: linear-gradient(top,#F8F8F9,#E6E6E8);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9', endColorstr='#e6e6e8', GradientType=0);
	text-shadow: 0 1px 0 #FFF;
	border: 1px solid #BBB;
	color: #666!important;
	box-shadow: 0 1px 0 #FFF inset,0 1px 0 rgba(0, 0, 0, .1);
	
}

.btn-load-more{
	display: block;
	font-size: 13px;
	margin: 20px 0;
	padding: 5px 1px;
	height: 22px;
}


.zd-pic{
	float:left;
	width:40px;
}
.zd-pic img{
	border-radius:2px;
	width:40px;
	height:40px;
}
.zd-pic img:hover{
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.zd-question{
	float:left;
	margin-left:5px;
}
.zd-title{
	font-size:14px;
	margin-top:-5px;
	margin-bottom:-5px;
	height:20px;
}
.zd-title{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width:650px;
}
.zd-bus{
	height:20px;
}
.zd-bus span{
	margin-right:10px;
}
.zd-grid-content{
	font-size: 14px;
	line-height: 24px;
	margin-top:5px;
}
.zd-question-detail,.zd-answer-detail{
	text-indent:2em;
	padding-left: 1em;
}

.zd-grid-answer {
	border:1px solid #CCC;
	/*background: #EEE;*/
	background: #FFF;
	margin:15px 2px 2px 45px;
	border-radius: 5px;
	background-color:#f3f8f9;
}
.zd-grid-answer .zd-big-pic{
	float:left;
	width:40px;
	height:40px;
	padding:5px;
}
.zd-big-pic:hover{
	opacity: 0.6;
	filter: alpha(opacity=60);
}
/**在ie10-下 rgba失效 故采用图片代替
.zd-grid-answer-arrow em{
	position: absolute;
	top: -10px;
	left: 22px;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 0 10px 10px 10px;
	border-color: rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #CCC rgba(0, 0, 0, 0);
	border-style: dashed solid dashed solid;
	 
}
.zd-grid-answer-arrow i{
	position: absolute;
	top: -9px;
	left: 22px;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 0 10px 10px 10px;
	border-color: rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0);
	border-style: dashed solid dashed solid;
 
}
*/
.zd-grid-answer-arrow {
	position:relative;
}
.zd-grid:hover .zd-grid-answer{
	background:#FFF;
}
.zd-grid:hover .zd-grid-answer .zd-grid-answer-arrow em{
	background-position:0 -10px ;
}

.zd-grid-answer-arrow em{
	position: absolute;
	top: -10px;
	left: 12px;
	width: 45px;
	height: 10px;
	line-height: 0;
	background: url("/sy/comm/zhidao/img/arrow0.png") no-repeat;
	 
}
.zd-answer-name{
	 
	text-indent:0;
}
.zd-answer-title{
	background-color: #FAFAFA;
	font-size: 16px;
	letter-spacing: 0;
	padding: 4px 10px;
	color: #BE9797;
	text-shadow: 0 1px 0 #444;
	border-bottom:1px solid #CCC;
}
.zd-answer-detail{  
	 padding:10px;
}
.zd-rs-grid{
	/* margin-top:15px; */
	background: #FFF;
	border: 1px solid #CCC;
	border-top:none;
	/* box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2); */
}
.zd-rs-title{
	/*background: #FFF url("bg.png") no-repeat 0 -223px;*/
	
	border-bottom: 1px dashed #EEE; 	
	height: 27px;
	padding:0 0 0 15px;
	line-height: 27px;
	color: #393939;
	font-size: 12px;
	font-weight: normal;
	 
}

.zd-rs-grid li{
	height: 50px;
	padding: 5px 10px 5px 10px;
	line-height: 20px;
	overflow: hidden;
	border-bottom:1px dashed #EEE;
	/*border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;*/
}
 
.zd-rs-grid li:hover{
	background-color:#ECEFF5;
}
.zd-rs-item img{
	float:left;
	padding-top:10px;
	padding-right:10px;
	border-radius: 2px;
	width: 40px;
	height: 40px;
 
}
.zd-rs-item img:hover{
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.zd-rs-name{
	padding-top:7px;
}
.zd-rs-question{

}
.zd-rs-question a{
	display:block;
		text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
}
.zd-right-side a{
	color:#000;
	text-decoration: none;
}

.zd-right-side a:hover{
	color:#0196E3;
	text-decoration: none;
}

.zd-goto-top{
	/*display: none;*/
	width: 71px;
	bottom: 20px;
	right: 20px;
	position: fixed;
	z-index: 9999;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	border-radius: 5px;
}
.zd-goto-top a{
	display: block;
	height:23px;
	padding-top: 48px;
	background: #999 url("/sy/comm/zhidao/img/gotoTop.png") no-repeat;
	text-align: center;
	color: #888;
	border:0;
}
.zd-goto-top a:hover{
	background-color:#99FF00;
	color: #888;
	text-decoration: none;
}

